.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


body {
  margin: 0;
  padding: 0;
  height: 100vh;
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);*/
  background-image: linear-gradient(120deg, #626b6b, #566061, #4b5457, #41494e, #383e44, #32353b, #2b2d33, #25252a, #1f1d21, #181618, #0f0d0e, #000000);
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.form-control {


  background-color: rgb(233, 243, 245);
  padding: 20px;
  


}

.form-control:focus {


  background-color: rgb(233, 243, 245);
  


}



.form-row {

  margin-left : 0px;
  margin-right: 0px;

}


img {
  border-style: solid;
}


@media screen and (max-wdith : 576px) {


  .empty-image {
    display: none;
  }

}